Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AnimStarterPack
Content/InfinityBladeEffects
Content/InfinityBladeWarriors
Content/InfinityBladeWeapons
Content/ParagonPhase
Content/StartContent
Content/ThirdPersonMap
